body {
    display: flex;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* center the canvas within its wrapper */
#threejs-container > canvas {
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;
    position: absolute;
}

#video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 0;
    height: 0;
}